@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

$primary: #ffceb8;
$secondary: #db5252;
$smooth: #b3b3b3;
$money: #635a58;
$tagline: #492923;

* {
    margin: 5px;
    box-sizing: border-box;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    &::after {
        content: "";
        width: 50%;
        height: 100%;
        background-color: #ffceb8;
        background-image: url(assets/Grey-and-Pink-Skin-Care-Tips-Instagram-Story.png);
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: clamp(400px,100vw,100%);

        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
    .left-side {
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        gap: 2vh;
        & {
            padding-left: 5vw;
        }
        .sub-header {
            font-family: "Arvo";
            font-weight: bolder;
            color: rgb(172, 172, 172);
            font-size: normal;
            letter-spacing: 5px;
        }
        & > :nth-child(2) {
            margin: 1.5rem 0px;
            color: black;
            font-size: clamp(2rem, 3vw, 3rem);
            font-weight: bolder;
            font-family: "Open Sans", sans-serif;
            span.tagline {
                color: $secondary;
            }
        }
        & > :nth-child(3) {
            font-family: "Poppins";
            color: $tagline;
            font-size: clamp(16px, 1.5vw, 22px);
            #price,
            #money {
                font-size: 3rem;
                color: black;
            }
            #money {
                color: #ffceb8;
                font-family: "Raleway";
            }
        }
        .description {
            margin: 3rem 0;
        }
        .social-media {
            a {
                color: black;
                text-decoration: none;
                font-family: "Open sans";
            }
        }
    }
    .right-side {
        display: none;
        width: 50%;
        height: auto;
        align-self: flex-end;
    }
}

button {
    background-color: black;
    color: white;
    padding: 15px 30px;
    font-size: larger;
    border: 0px;
    cursor: pointer;
    &:hover {
        background-color: $secondary;
    }
}